name: CI

on: [push, pull_request]

jobs:
  Check_formatting:
    name: 'Check formatting'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            components: rustfmt
            override: true

      - name: Check formatting
        run: cargo fmt --all -- --check

  Linux_default:
    name: '[Linux, default] Build and test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --all --verbose

      - name: Build examples and benches
        run: cargo build --verbose --examples --benches

  Linux_native_tls_notif:
    name: '[Linux, native TLS + notifications] Build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install native dependencies
        run: |
            sudo apt-get update
            sudo apt-get install libdbus-1-dev pkg-config libssl-dev

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build with rustls and dbus
        run: |
          cd tiny
          cargo build --verbose --no-default-features \
            --features "tls-native desktop-notifications"

  OSX_default:
    name: '[OSX, default] Build and test'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build tiny
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Build examples and benches
        run: cargo build --verbose --examples --benches

  OSX_native_tls_notif:
    name: '[OSX, native TLS + notifications] Build'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build
        run: |
          cd tiny
          cargo build --verbose --no-default-features \
            --features "tls-native desktop-notifications"
