name: CI

on: [push, pull_request]

jobs:
  Check_formatting:
    name: 'Check formatting'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Get Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            components: rustfmt
            override: true

      - name: Check formatting
        run: cargo fmt --all -- --check

  Linux_default:
    name: '[Linux, default] Build and test'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build
        run: cargo build

      - name: Test
        run: cargo test --all

      - name: Build examples and benches
        run: cargo build --examples --benches

  Linux_native_tls_notif:
    name: '[Linux, native TLS + notifications] Build and test'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Install native dependencies
        run: |
            sudo apt-get update
            sudo apt-get install libdbus-1-dev pkg-config libssl-dev

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build
        run: |
          cargo build --no-default-features \
            --features "tls-native desktop-notifications"

      - name: Test
        run: |
          cargo test --no-default-features \
            --features "tls-native desktop-notifications"

  macOS_default:
    name: '[macOS, default] Build and test'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build
        run: cargo build

      - name: Test
        run: cargo test

      - name: Build examples and benches
        run: cargo build --examples --benches

  macOS_native_tls_notif:
    name: '[macOS, native TLS + notifications] Build and test'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get stable toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Build
        run: |
          cargo build --no-default-features \
            --features "tls-native desktop-notifications"

      - name: Test
        run: |
          cargo test --no-default-features \
            --features "tls-native desktop-notifications"
